<h1>To Do</h1>

<a href="/#/signup">Signup</a>
<a href="/#/login">Login</a>
<a href="/#/logout">Logout</a>
<a href="/#/todo">To Do</a>

<div ng-if="vm.loaded">

  <div layout="row">
    <md-input-container class="md-block" flex>
      <label>Description</label>
      <input ng-model="vm.description">
    </md-input-container>
    <div>
      <md-button class="md-raised md-primary" ng-disabled="vm.description.length === 0" ng-click="vm.add()">Add</md-button>
    </div>
  </div>

  <md-list>
    <md-list-item ng-repeat="item in vm.items">
      <p>{{item.description}}</p>
      <md-checkbox aria-label="checkbox" class="md-secondary" ng-click="vm.remove(item)"></md-checkbox>
    </md-list-item>
  </md-list>

</div>
